/* Global CSS Variables */
:root {
  --color-primary: #ffa500;
  --color-secondary: #082032;
  --color-white: #fff;
  --color-black: #000;
  --color-grey: #9d9d9d;
  --color-grey-light: #f3f1f5;

  --color-background: #eeeeee;
  --color-text: #000;

  --color-sidebar: #c8c6c6;

  --z-index-1: 100;
  --z-index-2: 200;
  --z-index-4: 300;
  --z-index-5: 400;
  --z-index-modal: 1000;
}

/* Fonts */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto"), url("./assets/fonts/Roboto-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Robto";
  font-style: bold;
  font-weight: bold;
  src: local("Roboto"), url("./assets/fonts/Roboto-Bold.woff") format("woff");
  font-display: swap;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.7;

  color: var(--color-text);
  background-color: var(--color-background);
}
